.main {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 0 auto !important;
  margin-top: 7% !important;
  width: 75%;
  height: max-content;
  border-radius: 5px !important;
  background-color: white !important;
  padding: 2.5rem 1rem;
}

.main h3 {
  line-height: 1.5;
}

.row h6 {
  display: inline;
  font-weight: 600;
}

.accordion {
  border-radius: 5px !important;
  padding: 0.75rem;
  margin: 0.75rem;
}

.card {
  padding: 0.75rem;
  margin: 0.75rem !important;
}

.card-header {
  border-bottom: none !important;
}

button {
  border: none;
  float: right;
}

.fa-plus-circle {
  font-size: 22px;
  color: dimgray;
}
